/* Reset de CSS personalizado */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
  --color-bg: #ffffff;
  --color-shadow-light: #ffffff;
  --color-shadow-dark: #e6e6e6;
  --color-hover-bg: #d1b8ff;
  --color-error: #ba94ff;
  --color-text: black;
  --font-family: "Outfit", sans-serif;
}

/* Eliminar márgenes y rellenos predeterminados */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Cambiar box-sizing a border-box */
  transition: all 0.3s ease-in-out;
}

/* Estilos generales del body */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg); /* Añadido para consistencia */
}

/* Eliminar bordes y colores de fondo en botones */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

/* Estilos para inputs, textarea y select */
input,
textarea,
select {
  height: 40px;
  padding-left: 1rem;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: inset 6px 6px 9px var(--color-shadow-dark),
    inset -6px -6px 9px var(--color-shadow-light);
}

textarea {
  height: 100px;
  padding-top: 0.5rem;
}

/* Estilos de botones */
button {
  font-weight: bold;
  padding: 0.5rem;
  width: 100px;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: -5px 5px 10px var(--color-shadow-dark),
    5px -5px 10px var(--color-shadow-light);
}

button:hover {
  background: var(--color-hover-bg);
}

/* Eliminar estilos de listas */
ul,
ol {
  list-style: none;
}

/* Eliminar bullets de los elementos <li> */
li {
  list-style: none;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: -5px 5px 10px var(--color-shadow-dark),
    5px -5px 10px var(--color-shadow-light);
}

/* Eliminar subrayado y color predeterminado en enlaces */
a {
  text-decoration: none;
  color: inherit; /* Hereda el color del elemento padre */
}

/* Asegurarse de que los enlaces no tengan color de foco por defecto */
a:focus,
a:hover {
  outline: none; /* Opcional: elimina el contorno de enfoque predeterminado */
}

/* Estilos de encabezados */
h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  color: var(--color-text);
  font-weight: bold;
  font-size: 3.5rem; /* Tamaño específico para h1 */
  padding-bottom: 2rem;
}

h2 {
  color: var(--color-text);
  font-weight: bold;
  font-size: 2rem; /* Tamaño específico para h2 */
  padding-bottom: 0.5rem;
}

p {
  text-wrap: pretty; /* Si "text-wrap" no es válido, esto puede necesitar ajuste */
}

.highlight {
  color: var(--color-error);
  font-style: italic;
}
